.team-list {
  margin: 80px 0 60px;

  &__heading {
    padding: 0 225px;
    margin-bottom: 80px;

    h2 {
      @include norms-bold($font-size-mega-xxl);
      @extend %gradient-text-reverse;
    }
  }

  .row {
    row-gap: 40px;
  }


  &__item {
    width: 31%;
  }

  &__photo {
    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  &__info {
    margin-top: 20px;
  }

  &__name {
    @include norms-medium($font-size-l);
    color: $dark-purple;
    margin-bottom: 5px;
  }

  &__position {
    @include norms-regular($font-size-m);
    color: $grey;
  }

  &__arrow {
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $bg-gray-item;
      transition: .5s;

      &:hover {
        background-color: $grey;
      }

      img {
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
      }
    }
  }
}