.team {
  margin-top: 100px;
  background-image: url("./../images/photo-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__heading {
    h2 {
      @include norms-bold($font-size-for-team-heading-1);
      letter-spacing: 63px;
      color: $white;
      padding: 163px 0;
      text-transform: uppercase;
      text-shadow: $box-shadow-for-team;
    }
  }
}