@include l {
  .team {
    &__heading {
      h2 {
        font-size: $font-size-for-team-heading-2;
      }
    }
  }
}

@include l {
  .team {
    &__heading {
      h2 {
        letter-spacing: 20px ;
      }
    }
  }
}

@include s {
  .team {
    margin-top: 34px;

    &__heading {
      h2 {
        font-size: $font-size-achv-items;
      }
    }
  }
}