$font-size-for-team-heading-1: 96px;
$font-size-for-team-heading-2: 72px;
$font-size-mega-xxl: 42px;
$font-size-xxxl: 38px;
$font-size-achv-items: 36px;
$font-size-xxl: 32px;
$font-size-xxl-media: 28px;
$font-size-xl-heading: 24px;
$font-size-xll: 22px;
$font-size-xl: 21px;
$font-size-ll: 19px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-sm: 14px;
$font-size-s: 12px;

/*----COLORS-----*/
$heavy-pink: #F0145A;
$soft-pink: #EF8080;
$white: #FFFFFF;
$black: #000000;
$dark-purple: #323264;
$middle-purple: #46466E;
$purple-txt: #686887;
$soft-purple: #CACADB;
$soft-light-purple: #E7E7F2;
$bg-gradient: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$bg-gradient-2: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$bg-gradient-publications: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
$box-shadow-for-team: 0px 15px 30px rgba(40, 40, 86, 0.8);
$box-shadow-for-btn: 0px 0px 20px rgba(36, 163, 255, 0.5);
$grey: #B3B3BA;
$bg-gray-item: #F5F5FA;
$light-grey: #E6E6F0;
$extrmly-light-grey: #EDEDF7;
$bright-blue: #24A3FF;
$middle-blue: #0085FF;
$dark-blue: #006CCF;
/*-------MAX-WIDTH-----*/

$max-width-xxl: 1399px;
$max-width-xl: 1199px;
$max-width-l: 991px;
$max-width-m: 767px;
$max-width-s: 575px;

/*-----------MIN-HEIGHT for project items---------*/
$min-height-upper-row: 255px;
$min-height-lower-row: 198px;

$padding-inner-project-upper: 0 45px 20px 20px;
$padding-inner-project-lower: 10px 45px 20px 20px;

/*---BG PARTNERS----*/
$bg-blue: #1C4280;
$bg-dark-green: #143646;
$bg-orange: #F48B30;
$bg-violet: #9E4DC3;
$bg-light-orange: #FD9339;
$bg-light-grey: #E2E2E4;
$bg-cherry: #C71C36;
$bg-light-blue: #DCF3F9;
$bg-extrmly-light-grey: #EAEAEA;
$bg-dark-violet: #282240;
$bg-green-gross: #1D4568;
$bg-black: #000000;

