.partners {

  &__heading {
    margin: 30px 0;

    h2 {
      @include norms-bold($font-size-sm);
      color: $dark-purple;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &__item {
    @include partner-item ();

    &:nth-child(1) {
      background-color: $bg-blue;
    }
    &:nth-child(2) {
      background-color: $bg-dark-green;
    }
    &:nth-child(3) {
      background-color: $bg-orange;
    }
    &:nth-child(4) {
      background-color: $bg-violet;
    }
    &:nth-child(5) {
      background-color: $bg-light-orange;
    }
    &:nth-child(6) {
      background-color: $bg-light-grey;
    }
    &:nth-child(7) {
      background-color: $bg-cherry;
    }
    &:nth-child(8) {
      background-color: $bg-light-blue;
    }
    &:nth-child(9) {
      background-color: $bg-extrmly-light-grey;
    }
    &:nth-child(10) {
      background-color: $bg-dark-violet;
    }
    &:nth-child(11) {
      background-color: $bg-green-gross;
    }
    &:nth-child(12) {
      background-color: $bg-black;
    }

  }
}